:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 110vh;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
li,
a {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  color: #4d4c4c;
}

ul {
  list-style: none;
}

progress {
  appearance: none;
  width: 1202px;
  height: 3px;
}

progress::-webkit-progress-bar {
  background-color: rgb(238, 238, 238);
}

progress::-webkit-progress-value {
  background-color: #000;
  -webkit-transition: width 1s ease;
  -moz-transition: width 1s ease;
  -o-transition: width 1s ease;
  transition: width 1s ease;
}

img {
  display: block;
}
